<h1>Editing trade_order</h1>

<%= flash[:error] %>

<% form_for(@trade_order) do |f| %>
	<%= f.error_messages %>
	<p>
		<%= f.radio_button(:is_limit, false) %> Market Order
		<%= f.radio_button(:is_limit, true) %> Limit Order
	</p>	
		
	<p>
		<%= f.label :ticker %>
		<%= f.text_field :ticker %>
	</p>
	
	<p>
		<%= f.label :quantity %>
		<%= f.text_field :quantity%>
	</p>	
	
	<p>
		<%= f.select(:is_buy, [ ['Buy', true],
								['Sell', false] ]) %>
								
		<%= f.select(:is_long, [ ['Long', true],
								 ['Short', false] ]) %>
	</p>
								 
	<p>
		<%= f.label :stop_price %>
		<%= f.text_field :stop_price %>
	</p>
	
	<p>
		<%= f.label :limit_price %>
		<%= f.text_field :limit_price %>
	</p>
		
	<p>
		<%= f.label :expiration_time %>
		<%= f.datetime_select(:expiration_time) %>
	</p>		
		
	<p>
		<%= f.submit "Update" %>
	</p>			
<% end %>

<%= link_to 'Show', @trade_order %> |
<%= link_to 'Back', trade_orders_path %>
