<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to StockPlay</title>
    <%= stylesheet_link_tag 'layout', 'welcome', :cache => 'welcome_cache' %>
	  <%= javascript_include_tag 'prototype', 'effects', 'dragdrop', 'controls',
	                             'lowpro', 'application', 'welcome',
	                             :cache => 'js_cache' %>
  </head>
  <body>
    <div id="page">
      <div id="welcome_header">
        <div id="logo">
          <span id="app_name">StockPlay</span>
        </div>
        <div id="sign_in">
          <%= render :partial => 'sessions/new' %>
        </div>
      </div>
      <div class="body">
        <div class="welcome_body_right">
          <%= link_to image_tag('welcome/app_store_badge.png',
                                :id => 'app_store_badge',
                                :alt => 'link to app store'), "http://itunes.com/apps/stockplay" %>
          <div id="publicity_links" class="border">
              <ul>
                <li class="nav_item">
                  <div class="nav_pic_box">
                    <%= link_to image_tag('welcome/iphone_icon.png',
                    :height => '42px', :width => '42px',
                    :alt => 'iphone icon'), 'http://blog.istockplay.com/' %>
                  </div>
                  <%= link_to 'Blog', "http://blog.istockplay.com/", :class => "nav_name" %>
                  <div class="nav_item_description">
                    Your official go-to guide.
                  </div>
                </li>
                <li class="nav_item">
                  <div class="nav_divider">
                  </div>
                  <div class="nav_pic_box">
                    <%= link_to image_tag('welcome/twitter_bird.png',
                    :height => '33px', :width => '46px',
                    :alt => 'logo for twitter'), 'http://twitter.com/zerglings' %>
                  </div>
                  <%= link_to 'Twitter', "http://twitter.com/zerglings", :class => "nav_name" %>
                  <div class="nav_item_description">
                    Tweet! Development as it happens.
                  </div>
                </li>
                <li class="nav_item">
                  <div class="nav_divider">
                  </div>
                  <div class="nav_pic_box">
                    <%= link_to image_tag('welcome/envelope_icon.png',
                    :height => '27px', :width => '42px',
                    :alt => 'Image for email link'), 'mailto:stockplay@zergling.net' %>
                  </div>
                  <a class="nav_name",  href="mailto:stockplay@zergling.net">Contact Us</a>
                  <div class="nav_item_description">
                    Comments? Send us an email.
                  </div>
                </li>
                <li class="nav_item">
                  <div class="nav_divider">
                  </div>
                  <div class="nav_pic_box">
                    <%= link_to image_tag('welcome/zergling_pillbox.png',
                    :height => '42px', :width => '35px',
                    :alt => 'logo for zergling.net'), 'http://www.zergling.net' %>
                  </div>
                  <%= link_to 'Zerglings', "http://www.zergling.net/", :class => "nav_name" %>
                  <div class="nav_item_description">
                    The authors of StockPlay.
                  </div>
                </li>
              </ul>   
          </div>
        </div>
        <div class="welcome_body_left">
          <div id="sell">
          the leading stock trading game for iPhone and iPod Touch
          </div>
          <div id="screenshots" class="border">
            <%= link_to image_tag('welcome/screenshots.png',
            :height => '325px', :width => '552px',
            :alt => 'screenshots of iPhone app'), "http://itunes.com/apps/stockplay" %>
          </div>
        </div>
      </div>
      <div id="footer">
        <p id="copyright">
          Copyright &copy; 2009 <%= link_to 'Zergling.net', "http://www.zergling.net/" %>, all rights reserved.
        </p>
      </div>
    </div>
    <%= render :partial => '/layouts/google_analytics' %>
  </body>
</html>
