<p>
<%= link_to 'Place an order', new_trade_order_path %> |
<%= link_to 'Logout', {:controller => :sessions, :action => :destroy}, :method => :delete %>
</p>

<p>
  <b>User:</b>
  <%=h @portfolio.user_id %>
</p>

<p> 
	<h2>Positions</h2> 
</p>

<p>
  <b>Cash Balance:</b>
  <%=h "%.2f" % @portfolio.cash %>
</p>

<% if @positions.length > 0 %>
	<table>
		<tr>
			<th>Ticker</th>
			<th>Last Price</th>
			<th>Avg Cost/Share</th>
			<th>Shares</th>
			<th>Market Value</th>		
		</tr>
	<% for position in @positions %>
		<tr>
			<td><%=h position.stock.ticker %></td>
			<td><%=h "Need Yahoo stock data" %></td>
			<td><%=h "%.2f" % position.average_base_cost %></td>
			<td><%=h position.quantity %></td>
			<td><%=h "Need last trade price." %></td>
		</tr>		
	<% end %>	
	</table>
<% else %>
	<p>No current holdings.</p>	
<% end %>
<p> 
	<h2>Pending Orders</h2> 
</p>
<% if @trade_orders.length > 0 %>
	<table>
		<tr>
			<th>Ticker</th>
			<th>Transaction</th>
			<th>Quantity</th>
			<th>Stop Price</th>
			<th>Limit Price</th>
			<th>Expiration Time</th>
		</tr>	
	<% for trade_order in @trade_orders %>	
		<tr>
			<td><%=h trade_order.stock.ticker %></td>
			<td><%=h trade_order.transaction_type %></td>
			<td><%=h trade_order.quantity %></td>
			<td><%=h trade_order.stop_price && "%.2f" % trade_order.stop_price %></td>
			<td><%=h trade_order.limit_price && "%.2f" % trade_order.limit_price %></td>
			<td><%=h trade_order.expiration_time %></td>
			<% if trade_order.order_cancellation == nil %>
				<td><%= link_to "Cancel Order", :controller => :order_cancellation, :action => :create, :trade_order_id => trade_order.id %></td>
			<% else %>
				<td>Cancellation pending</td>
			<% end%>		
		</tr> 
	<% end %>	
	</table>
<%else%> 
<p> No Pending Orders </p>
<%end%>

<p> 
	<h2>Trade Order History</h2> 
</p>
<% if @trades.length > 0 %>
	<table>
		<tr>
			<th>Ticker</th>
			<th>Transaction</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Execution Date</th>
		</tr>
	<% for trade in @trades %>
		<tr>
			<td><%=h trade.trade_order.stock.ticker %></td>
			<td><%=h trade.trade_order.transaction_type %></td>
			<td><%=h trade.quantity %></td>
			<td><%=h "%.2f" % trade.price %></td>
			<td><%=h trade.created_at %></td>
		</tr>	
	<% end %>	
	</table>
<% else %>
<p> No completed trades in the past 6 months. </p>		
<% end %>
