<p>
  <b>User:</b>
  <%=h @portfolio.user_id %>
</p>

<p>
  <b>Cash Balance:</b>
  <%=h @portfolio.cash %>
</p>

<p> 
	<b>Pending Orders</b> 
</p>
<% if @portfolio.trade_orders.length > 0 %>
	<table>
		<tr>
			<th>Ticker</th>
			<th>Transaction</th>
			<th>Quantity</th>
			<th>Stop Price</th>
			<th>Limit Price</th>
			<th>Expiration Time</th>
		</tr>	
	<% for trade_order in @trade_orders %>	
		<tr>
			<td><%=h trade_order.stock.ticker %></td>
			<td><%=h trade_order.transaction_type %></td>
			<td><%=h trade_order.quantity %></td>
			<td><%=h trade_order.stop_price %></td>
			<td><%=h trade_order.limit_price %></td>
			<td><%=h trade_order.expiration_time %></td>
			<% if trade_order.order_cancellation == nil %>
				<td><%= link_to "Cancel Order", :controller => :order_cancellation, :action => :create, :trade_order_id => trade_order.id %></td>
			<% else %>
				<td>Cancellation pending</td>
			<% end%>		
		</tr> 
	<% end %>	
	</table>
<%else%> 
<p> No Pending Orders </p>
<%end%>

<p>
<%= link_to 'Place an order', new_trade_order_path %> |
<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Logout', {:controller => :sessions, :action => :destroy}, :method => :delete %>
</p>