<!-- HACK(overmind): Someone should move this in a CSS file -->
<style type="text/css">
th { text-align: left; }
</style>

<h1>Listing Warning Flags</h1>

<table>
  <tr>
  	<th>Severity</th>
		<th>Source</th>
		<th>Description</th>
		<th>Subject</th>
		<th colspan="3">Manage</th>
  </tr>

<% @warning_flags.each do |warning_flag| %>
  <tr>
  	<td><%= warning_flag.severity %></td>
    <td><%=h warning_flag.source_file %>:<%= warning_flag.source_line %></td>
    <td><%=h warning_flag.description %></td>
		<td>
	  <% url = url_to(warning_flag.subject) rescue nil %>
	  <% if url %>
	    <%= link_to h(warning_flag.subject.inspect), warning_flag.subject %>
		<% else %>
      <%= link_to h(warning_flag.subject.inspect), warning_flag.subject %>
		<% end %>
		</td>
    <td><%= link_to 'Details', warning_flag %></td>
    <td><%= link_to 'Destroy', warning_flag, :confirm => 'Are you sure?',
                    :method => :delete %></td>
  </tr>
<% end %>
</table>
