<h1>Warning Flag for <%=h @warning_flag.subject.to_s %></h1>

<table>
	<tr>
		<th>Severity</th>
		<td><%= @warning_flag.severity %></td>
	</tr>
	<tr>
		<th>Source</th>
		<td><%=h @warning_flag.source_file %>:<%= @warning_flag.source_line %></td>
	</tr>
  <tr>
    <th>Description</th>
    <td><%=h @warning_flag.description %></td>
  </tr>
	<tr>
		<th>Subject</th>
		<td>
    <% url = url_for(@warning_flag.subject) rescue nil %>
    <% if url %>
      <%= link_to h(@warning_flag.subject.inspect), url %>
    <% else %>
      <%=h @warning_flag.subject.inspect %>
    <% end %>			
		</td>
	</tr>
</table>

<h2>Stack trace</h2>
<pre>
<%=h @warning_flag.stack.join("\n") %>
</pre>

<%= link_to 'Back', warning_flags_path %>
